/* styles.css */
body {
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #0066cc;
}

.animated-image {
    width: 200px;
    height: auto;
    /* Add your animation properties here */
}



@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px); /* Move image 100px to the right */
    }
}

.animated-image {
    animation: moveRight 2s infinite alternate; /* 2 seconds duration, infinite loop, alternate direction */
}

